name: PHPUnit

on:
  push:
    branches:
      - master
      - v*
  pull_request:
    types:
      - synchronize
      - opened

jobs:
  unit-tests:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: ['ubuntu-latest', 'windows-latest', 'macos-latest']
        php-versions: [ '8.1', '8.5' ]
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Validate composer.json
        run: composer validate --strict

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run unit tests
        run: ./vendor/bin/phpunit --testsuite=Unit
        if: (matrix.php-versions == '8.5' && matrix.operating-system == 'ubuntu-latest') == false

      - name: Run unit tests with coverage
        run: ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml --testsuite=Unit --coverage-text
        if: matrix.php-versions == '8.5' && matrix.operating-system == 'ubuntu-latest'
